@import "styles/_mixins.scss";

.crypto-cards {
  display: flex;
  justify-content: center;
}

.crypto-card {
  @include bg-glass;
  @include set-border-radius(20px);
  text-align: center;
  width: 33%;
  margin: 0px 15px;
  padding: 50px 70px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .crypto-name {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
