@import "_variables.scss";
@import "_mixins.scss";

html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: $white;
  background: linear-gradient(
    to bottom,
    $primary 0%,
    rgba(47, 33, 173, 0.7) 100%
  );
  background-repeat: no-repeat;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section {
  padding: 10vh 60px;

  @include for-size($tablet) {
    padding: 7vh 40px;
  }

  @include for-size($mobile) {
    padding: 5vh 30px;
  }
}

.section-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 40px;

  @include for-size($mobile) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.section-paragraph {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  text-align: center;

  @include for-size($mobile) {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}
