@import "styles/_mixins.scss";
@import "styles/_variables.scss";

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 999;

  &.active {
    display: flex;
  }
}

.modal {
  background: $white;
  color: #292929;
  @include set-border-radius(15px);
}

.modal-header {
  width: 100%;
  height: 40px;
  text-align: right;
}

.fa-times {
  font-size: 24px;
  padding: 15px 20px;
  color: $primary;
  cursor: pointer;
  border-top-right-radius: 15px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $primary;
    color: $white;
    transition: all 0.2s ease-in-out;
  }
}
