@import "styles/_mixins.scss";
@import "styles/_variables.scss";

.slider-header {
  font-weight: 600;
  font-size: 40px;
  font-variant: small-caps;
  margin-bottom: 30px;
  letter-spacing: 0.05em;

  &::first-letter {
    text-transform: capitalize;
  }
}

.slider-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0px 15px;
  overflow: hidden;
  @include bg-glass;
  @include set-border-radius(20px);
  cursor: pointer;

  &:hover {
    .slider-text {
      transition: all 0.4s ease-in-out;
      color: $primary;
    }

    .slider-icon {
      transition: all 0.4s ease-in-out;
      color: $primary;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  @include for-size(600px) {
    margin: 12px;
  }

  .slider-img-container {
    position: relative;
    display: flex;
    height: 200px;
    overflow: hidden;

    @include for-size($mobile) {
      height: 150px;
    }

    .slider-img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    .slider-video-tbn {
      transform: scale(1.3);
    }

    .slider-icon {
      position: absolute;
      top: 50%;
      left: 48%;
      transform: scale(3);
    }
  }

  .slider-text {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-size($tablet) {
      padding: 25px;
    }

    .slider-text-source {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include for-size($tablet) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .slider-text-headline {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-top: 12px;
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 26px;

      @include for-size($tablet) {
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 24px;
      }

      @include for-size(600px) {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      @include for-size($mobile) {
        font-size: 22px;
        margin-top: 7px;
        margin-bottom: 7px;
      }
    }
  }
}

//CLASS GIVEN TO DEFAULT ARROWS IN REACT SLICK
.slick-disabled {
  display: none !important;
}

.slick-next::before,
.slick-prev::before {
  font-size: 35px !important;
  @include for-size(600px) {
    font-size: 30px !important;
  }
}

.slick-next::before {
  @include for-size($mobile) {
    position: absolute;
    right: -14%;
  }
}

.slick-prev::before {
  position: absolute;
  right: 1%;
  @include for-size($tablet) {
    right: 0%;
    left: -10px;
  }
  @include for-size($mobile) {
    left: -5px;
  }
}

.slick-list {
  padding-left: 0 !important;
}
