@import "styles/_mixins.scss";
@import "styles/_variables.scss";

.slider-header {
  font-weight: 600;
  font-size: 40px;
  font-variant: small-caps;
  margin-bottom: 30px;
}

.slider-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 430px;
  margin: 0px 15px;
  overflow: hidden;
  @include bg-glass;
  @include set-border-radius(20px);
  cursor: pointer;

  &:hover {
    .slider-text {
      transition: all 0.4s ease-in-out;
      color: $primary;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  @include for-size(600px) {
    margin: 12px;
  }

  @include for-size($mobile) {
    height: 400px;
  }

  .slider-img {
    height: 400px;
    background: gray;
  }

  .slider-text {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-size($tablet) {
      padding: 25px;
    }

    .slider-text-source {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include for-size($tablet) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .slider-text-headline {
      margin-top: 12px;
      font-weight: 600;
      font-size: 28px;

      @include for-size($tablet) {
        margin-top: 7px;
        font-size: 24px;
      }

      @include for-size(600px) {
        font-size: 28px;
        margin-top: 10px;
      }

      @include for-size($mobile) {
        font-size: 22px;
        margin-top: 7px;
      }
    }
  }
}

//CLASS GIVEN TO DEFAULT ARROWS IN REACT SLICK
.slick-disabled {
  display: none !important;
}

.slick-next::before,
.slick-prev::before {
  font-size: 35px !important;
  @include for-size(600px) {
    font-size: 30px !important;
  }
}

.slick-list {
  padding-left: 0 !important;
}
